.main {
background-color: green;
padding-bottom:18px;
padding-top:168px;
padding-right:132px;
padding-left:133px;
width: 500px;
margin: 0 auto;
}
.main2{
background-color:white;
}
h1{text-align:center;
}

p{
font-size:30px;
text-align: center
